 body {

 font-family: Arial, sans-serif; /* Sets the default font for the whole page */

 margin: 0; /* Removes default browser margin */

 background: #f4f4f4; /* Sets light gray background color */

 }

 header {

 background: #fcff56; /* Sets light yellow background for header */

 color: rgba(255, 58, 58, 0.952); /* Sets header text color to white */

 padding: 20px; /* Adds space inside the header */

 text-align: center; /* Centers the header text */

 }

 nav {

 background: #00509e; /* Sets medium blue background for navigation bar */

 padding: 10px; /* Adds inner spacing for nav bar */

 text-align: center; /* Centers the nav links */

 }

 nav a {

 color: white; /* Sets link text color to white */

 margin: 0 15px; /* Adds horizontal spacing between menu items */

 text-decoration: none; /* Removes underline from links */

 font-weight: bold; /* Makes navigation text bold */

 }

 .hero {

 background: url('images/banner.jpg') no-repeat center center/cover; 

 /* Sets hero image, prevents repeating, centers it, and adjusts to cover area */



 height: 350px; /* Sets fixed height of hero section */

 display: flex; /* Enables flexbox for centering content */

 justify-content: center; /* Horizontally centers content */

 align-items: center; /* Vertically centers content */

 color: white; /* Sets hero text color to white */

 font-size: 2rem; /* Sets large text size */

 font-weight: bold; /* Makes text bold */

 text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Adds shadow for readability */

 }

 section {

 padding: 40px; /* Adds inner spacing inside sections */

 max-width: 1100px; /* Limits section width for better layout */

 margin: auto; /* Centers section in the page */

 background: white; /* Sets white background for content */

 margin-top: 20px; /* Adds space above each section */

 border-radius: 10px; /* Rounds the section corners */

 }

 h2 {

 color: #003366; /* Sets heading color to dark blue */

 }

 .footer {

 text-align: center; /* Centers footer text */

 padding: 20px; /* Adds padding inside footer */

 background: #003366; /* Sets footer background color */

 color: rgb(255, 255, 255); /* Sets footer text color */

 margin-top: 20px; /* Adds spacing above footer */

 }

 
.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf4;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #081b29;
}


.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition:.5s;
    
}

.home-sci a:hover::before{
    width: 100%;
}